/IntelliJ/crud/
/IntelliJ/demo/
/IntelliJ/ocp-demo-run/
/JavaScript/Project-OCP/
/IntelliJ/project-ocp.back-end.spring/
/se-final-project/
/IntelliJ/example-backend-spring-main/.gitignore
/IntelliJ/microservices-demo-run/.gitignore
/IntelliJ/product-service/.gitignore
/IntelliJ/example-backend-spring-main/src/main/resources/application.properties
/IntelliJ/microservices-demo-run/src/main/resources/application.properties
/IntelliJ/product-service/src/main/resources/application.properties
/IntelliJ/microservices-demo-run/build.gradle.kts
/.idea/Codebase.iml
/IntelliJ/example-backend-spring-main/compose.yaml
/IntelliJ/microservices-demo-run/compose.yaml
/IntelliJ/example-backend-spring-main/src/main/kotlin/com/mmcm/example/ExampleBackendSpringApplication.kt
/IntelliJ/example-backend-spring-main/src/test/kotlin/com/mmcm/example/ExampleBackendSpringApplicationTests.kt
/IntelliJ/microservices-demo-run/gradle/wrapper/gradle-wrapper.jar
/IntelliJ/microservices-demo-run/gradle/wrapper/gradle-wrapper.properties
/IntelliJ/microservices-demo-run/gradlew
/IntelliJ/microservices-demo-run/gradlew.bat
/IntelliJ/example-backend-spring-main/.mvn/wrapper/maven-wrapper.jar
/IntelliJ/product-service/.mvn/wrapper/maven-wrapper.jar
/IntelliJ/example-backend-spring-main/.mvn/wrapper/maven-wrapper.properties
/IntelliJ/product-service/.mvn/wrapper/maven-wrapper.properties
/IntelliJ/microservices-demo-run/src/main/kotlin/com/projectocp/microservicesdemorun/MicroservicesDemoRunApplication.kt
/IntelliJ/microservices-demo-run/src/test/kotlin/com/projectocp/microservicesdemorun/MicroservicesDemoRunApplicationTests.kt
/.idea/misc.xml
/.idea/modules.xml
/IntelliJ/example-backend-spring-main/mvnw
/IntelliJ/product-service/mvnw
/IntelliJ/example-backend-spring-main/mvnw.cmd
/IntelliJ/product-service/mvnw.cmd
/IntelliJ/example-backend-spring-main/pom.xml
/IntelliJ/product-service/pom.xml
/IntelliJ/product-service/src/main/kotlin/com/projectocp/productservice/model/Product.kt
/IntelliJ/product-service/src/main/kotlin/com/projectocp/productservice/controller/ProductController.kt
/IntelliJ/product-service/src/main/kotlin/com/projectocp/productservice/repository/ProductRepository.kt
/IntelliJ/product-service/src/main/kotlin/com/projectocp/productservice/dto/ProductRequest.kt
/IntelliJ/product-service/src/main/kotlin/com/projectocp/productservice/service/ProductService.kt
/IntelliJ/product-service/src/main/kotlin/com/projectocp/productservice/ProductServiceApplication.kt
/IntelliJ/product-service/src/test/kotlin/com/projectocp/productservice/ProductServiceApplicationTests.kt
/IntelliJ/example-backend-spring-main/README.md
/IntelliJ/microservices-demo-run/settings.gradle.kts
/IntelliJ/example-backend-spring-main/src/main/kotlin/com/mmcm/example/domain/model/User.kt
/IntelliJ/microservices-demo-run/src/main/kotlin/com/projectocp/microservicesdemorun/domain/model/User.kt
/IntelliJ/example-backend-spring-main/src/main/kotlin/com/mmcm/example/application/rest/UserController.kt
/IntelliJ/microservices-demo-run/src/main/kotlin/com/projectocp/microservicesdemorun/application/rest/UserController.kt
/IntelliJ/microservices-demo-run/src/main/kotlin/com/projectocp/microservicesdemorun/application/dto/UserDto.kt
/IntelliJ/microservices-demo-run/src/main/kotlin/com/projectocp/microservicesdemorun/application/mapper/UserMapper.kt
/IntelliJ/example-backend-spring-main/src/main/kotlin/com/mmcm/example/domain/repository/UserRepository.kt
/IntelliJ/microservices-demo-run/src/main/kotlin/com/projectocp/microservicesdemorun/domain/repository/UserRepository.kt
/IntelliJ/example-backend-spring-main/src/main/kotlin/com/mmcm/example/domain/service/UserService.kt
/IntelliJ/microservices-demo-run/src/main/kotlin/com/projectocp/microservicesdemorun/domain/service/UserService.kt
/IntelliJ/example-backend-spring-main/src/main/kotlin/com/mmcm/example/impl/domain/service/UserServiceImpl.kt
/IntelliJ/example-backend-spring-main/src/main/resources/db/migration/V1_0_0__initialize_database.sql
/IntelliJ/microservices-demo-run/src/main/resources/db/migration/V1_0_0__initialize_database.sql
/IntelliJ/example-backend-spring-main/src/main/resources/db/migration/V1_0_1__insert_values.sql
/.idea/workspace.xml
